@import url(https://site-assets.fontawesome.com/releases/v6.3.0/css/all.css);
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;700&family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;700&family=Orbitron&family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;700&family=Open+Sans:wght@300&family=Orbitron&family=Poppins:wght@100&display=swap');
@import url('https://fonts.cdnfonts.com/css/myriad-pro');
@import url('./variables.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

.container {   
    padding: 0 30px;
    max-width: 100%;
    margin: 0 auto;
}

header {
    height: 100vh;
    width: 100%;
    padding: 0 30px;
}
.backgr1 {
    background: url('./images/bg-1.jpg') no-repeat center center;
    height: 972px;
}

.backgr2 {
    background-image: url(asset/backgr2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.backgr4 {
    background-image: url(./images/bg-4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    font-family: var(--primary-font) ;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    color: #fff;
    padding-top: 30px;
}

.review {
    display: flex;
    padding-top: 146px;
    flex-direction: column;
    align-items: center;
    height: 907px;
}

.review h1 {
    color: #fff;
    text-align: center;
    font-family: var(--primary-font) ;
    font-size: 94px;
}

.review p {
    color: #fff;
    font-size: 17px;
    font-family: 'Poppins' ;
    margin-top: 5px;
    margin-bottom: 62px;
    text-align: center;
}

.review button {
    font-size: 17px;
    font-family: 'Poppins' ;
    color: #fff;
    background-color: #000000;
    padding: 22px 47px;
    border: none;
    margin-bottom: 130px;
}

.review img {
    max-width: 100%;
}

.number {
    font-size: 25px;
    font-family: var(--primary-font);    
    color: #fff;
    height: 156px;
    background-color: #081a2c;
    padding: 0px 28px;
}

.count {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 78px;
}

.info {
    background: url('./images/bg-2.jpg') no-repeat center center;
    background-size: cover;
    /* height: 837px; */
    color: #fff;
    padding: 180px 0px;
    max-width: 100%;
}

.main {
    padding-left: 375px;
}

.about {
    display: flex;
    position: relative;
}
.about-left {
    height: 450px;
    width: 500px;
    border: 1px dashed #fff;
    text-align: center;
    padding: 50px 20px 30px;
    position: relative;
    max-width: 100%;
}

.info h1 {
    font-size: 25px;
    font-family: 'Myriad Pro' ;
}

.info p {
    font-family: 'Open Sans' ;
    font-size: 17px;
    margin-top: 30px;
}

.info button {
    font-size: 17px;
    font-family: 'Open Sans' ;
    padding: 15px 35px;
    background-color: #000000;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.info-img {
    position: absolute;
    top: 25%;
    left: 20%;
}
.info-img img {
    width: 940px;
    height: 270px;
}

.play {
    /* margin: 0px 346px 0px; */
    background: url('./images/bg-3.jpg') no-repeat center center;
    background-size: cover;
    padding-top: 110px;
    padding-bottom: 110px;
}

.play h1 {
    text-align: center;
    font-family: var(--primary-font) ;
    font-size: 30px;
    color: #fff;
    margin-bottom: 74px;
    position: relative;
}

.play h1::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 160px;
    background: #fff;
    left: 50%;
    top: 130%;
    transform: translateX(-50%);
}

.play h2 {
    font-family: var(--primary-font) ;
    color: #fff;
    font-size: 17px;
}

.play button {
    font-family: 'Open Sans';
    background-color: #08bfdd;
    color: #fff;
    border: none;
}

.login {
    display: flex;
    padding: 55px 53px 55px 30px;
    border: 1px dashed #fff;
    flex-direction: column;
    margin: auto;
}

.login--user {
    display: flex;
    justify-content: space-between;
}

.login--acc {
    justify-content: space-between;
    display: flex;
}

.login--pass {
    justify-content: space-between;
    display: flex;
}

.login__left {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans' ;
    font-size: 14px;
    width: 40%;
}

.login__left input {
    padding: 23.5px 292.6px 23.5px 18px;
    border: 1px solid #fff;
}

.input--user {
    margin-top: 25px;
    width: 50%;
    padding: 23px 370px 21px 15px;
}

.input--acc {
    margin-top: 27px;
}

.login--button {
    padding: 23.5px 84px;
    background-color: #08bfdd;
    cursor: pointer;
    transform: 0.3s ease;
    border: none;
    margin-top: 30px;
    width: 209px;
}
.login--button:hover {
    opacity: 0.8;
}

.section {
    display: flex;
    align-items: center;
    font-family: var(--primary-font) ;
    font-size: 25px;
    justify-content: end;
    color: #fff;
    width: 50%;
    padding-left: 50px;
}

.section p {
    font-family: 'Open Sans' ;
    font-size: 17px;
    padding-left: 25px;
}

.money {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    width: 730px;
    position: relative;
    max-width: 100%;
}

.money h1 {
    margin-top: 172px;
    font-family: var(--primary-font) ;
    font-size: 30px;
    margin-bottom: 67px;
    color: #fff;
    position: relative;
}

.money h1::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 180px;
    background: #fff;
    left: 50%;
    top: 130%;
    transform: translateX(-50%);
}

.money p {
    font-family: 'Open Sans' ;
    font-size: 17px;
    color: #fff;
    line-height: 1cm;
}

.money img {
    width: 100%;
    padding: 50px 0;
}

.money--down {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Open Sans' ;
    font-size: 17px;
}

.button1 {
    padding: 20.5px 73.5px;
    background-color: #000000;
    color: #fff;
    border: none;
}

.button2 {
    border: none;
    padding: 22.5px 72px;
    color: #000000;
}

.button3 {
    padding: 20.5px 73px;
    background-color: #000000;
    border: none;
    color: #fff;
}

.download-content {
    text-align: left;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.download h1 {
    font-family: var(--primary-font) ;
    font-size: 40px;
}

.download p {
    font-family: 'Open Sans' ;
    font-size: 17px;
    margin-top: 26px;
    margin-bottom: 54px;
}

.backgr5 {
    background-color: #000;

}

.footer {
    text-align: center;
    display: flex;
    color: #fff;
    flex-direction: column;
    width: 700px;
    margin: auto;
    max-width: 100%;
}

.contact h1 {
    font-family: var(--primary-font) ;
    font-size: 30px;
    margin-bottom: 46px;
    padding-top: 57px;
}

.contact ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.contact li {
    font-family: 'Open Sans' ;
    font-size: 17px;
    font-weight: bold;  
    display: inline-block; 
    list-style: none;
}

.contact a {
    color: #fff;
    text-decoration: none;
}

.contact p {
    margin: auto;
    margin-top: 42px;
    margin-bottom: 28px;
    font-family: 'Open Sans' ;
    font-size: 17px;
    border-bottom: 1px solid #fff;
    width: 189px;
    padding-bottom: 8px;
}

.contact input {
    font-family: 'Open Sans' ;
    font-size: 15.01px;
    padding: 12px 98.6px 12px 22px;
    border: 1px solid #fff;
    background-color: rgba(255, 0, 0, 0);
}

.contact button {
    font-family: 'Open Sans' ;
    font-size: 15.01px;  
    color: #fff;
    margin-top: 16px;
    margin-bottom: 58px;  
    border: 1px solid #fff;
    background-color: rgba(255, 0, 0, 0);
    padding: 12.5px 119px;
}

.author {
    font-family: 'Open Sans' ;
    font-size: 17px;
    color: #fff;
    margin-bottom: 21px;
    background-image: url(images/bg-4.jpg);
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
